body {
	.titreduhaut {
		text-align: center;
	}
	/* HEADER */
	.menu {
		background-color: #2196F3;
		color: #FFFFFF;
		height: 50px;
		position: relative;
		.burger {
			appearance:none;
		  -moz-appearance:none;
		  -webkit-appearance:none;
		  color:inherit;
		  cursor:pointer;
		  font-size:5vw;
		  line-height:50px;
		  margin:0;
		  outline:0;
		  padding:0;
		  text-align:center;		  
		  width:50px;
			&:before {
				content: '☰';
			}
			&:checked {
				&+ nav {
					height: initial;
					opacity: 0.9;
				}
				&:before {
					content: 'X';
				}
			}
		}
		nav {
			background:inherit;
			font-size:20px;
			font-weight:bold;
			height:0;
			overflow:hidden;
			text-transform:uppercase;
			transition:height .2s;
			width: 70%;
			& > * {
				display: block;
				letter-spacing: 1px;
				padding: 0 20px;
				width: 70%;
				font-size: 4vw;
			}
			ul {
				list-style-type: none;
				li {
					text-align: left;
					a {
						color: #FFFFFF;
						text-decoration: none;
					}
				}
			}
		}
	}

	/*FIN HEADER 
	DEBUT HOME */
	section {
		margin-bottom: 5%;
		h1, h2 {
			text-align: center;
			color: #AED581;
		}
		.articleHome {
			width: 100%;
			display: flex;
			flex-direction: column;
			img, p {
				width: 80%;
				margin-left: 10%;
				text-align: justify;
			}
		}
	}
	/* FIN HOME
	PAGE BOUTIQUES */

	#boutiques {
		h1, h2 {
			text-align: center;
		}
		.bieres {
			div {
				img {
					width: 30%;
					margin-left: 35%;
				}
			}
			p {
				width: 80%;
				margin-left: 10%;
				text-align: justify;
			}
			.price {
				text-align: right;
			}
		}
	}
	/*FIN BOUTIQUE
		PURCHASE_ORDER */

	#formPurchase {
		padding: 5px;
		background-color: #AED581;
		table {
			width: 100%;
			tr {
				th {
					font-family: initial;
				}
				td {
					text-align: center;
					input{
						width: 30%;
						margin-bottom: 5px;
						padding: 5px;
						color : #333;
						border: 1px solid #ccc;
						border-radius: 5px;
						outline: 0;

					}
				}
			}
		}
		button{
		    width: 40%;
		    margin-top: 2%;
		    margin-left: 60%;
		    margin-bottom: 2%;
			font-weight: bold;
			text-transform: uppercase;
			background-color: #AED581;
		}
	.form {
		label {
			display: block;
		}
		input {
			width: 90%;
		    margin-left: 1px;
			margin-bottom: 5px;
			padding: 5px;
			color : #333;
			border: 1px solid #ccc;
			border-radius: 5px;
			outline: 0;
		}

		}
	}

   /* FIN  PURCHASE_ORDER
    PROFIL */
	.formProfil {
		padding: 5px;
		background-color: #AED581;
		button{
			font-weight: bold;
			text-transform: uppercase;
				background-color: #AED581;
		    width: 40%;
		    margin-top: 2%;
		    margin-left: 60%;
		    margin-bottom: 2%;
		}
		.form-group {
			label {
				display: block;
			}
			input {
				width: 98%;
				margin-bottom: 5px;
				padding: 5px;
				color : #333;
				border: 1px solid #ccc;
				border-radius: 5px;
				outline: 0;
			}

		}
	}

	/* FIN PURCHASE_ORDER
		CONFIRMATION DE COMMANDE */
	#commandSection {
		table {
			width: 100%;
			tr {
				th {
					font-family: initial;
				}
				td {
					text-align: center;
				}
			}
		}
	}
	/*FOOTER */
	footer {
		background-color: #2196F3;
		line-height: 20px;
		nav {
			ul {
				list-style: none;
				display: flex;
				justify-content: space-around;
				margin: 0;
				li {
					a {
						color: #FFFFFF;
					}
				}
			}
		}
	}
}

@import '_mdlg.scss';